* {
  margin: 0;
  width: 100%;
  height: 100%;
}
img {
  border: solid black 1px;
  border-radius: 50%;
}

.imgButton :hover {
  width: 180px;
  height: 180px;
  margin-left: -20px;
  margin-top: -20px;
}
.imgButton {
  width: 150px;
  height: 150px;
  border: none;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}
.LoginPage-Container {
  width: 100%;
  height: 100%;
}
.LoginPage-Container,
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userInput {
  height: 70px;
  width: 250px;
  margin-right: 20px;
}

.Container {
  width: 25%;
  height: 70%;
  flex-direction: column;
  border: 1px solid black;
}
.Container > div {
  height: 10%;
  font-size: 30px;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
}
.UserName,
.ChatRoom {
  height: 20px;
  width: 245px;
  margin-bottom: 10px;
}

.submit {
  text-align: center;
  width: 50px;
  height: 60px;
}
