* {
  margin: 0;
  width: 100%;
  height: 100%;
}

.LoginPage-Container {
  width: 100%;
  height: 100%;
}
.LoginPage-Container,
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container {
  width: 25%;
  height: 70%;
  flex-direction: column;
  border: 1px solid black;
}
.Container > div {
  height: 10%;
  font-size: 30px;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.UserName,
.ChatRoom {
  width: 75%;
  height: 4%;
  margin-bottom: 10px;
}

.submit {
  width: 25%;
  height: 8%;
}
